<% address_id = address_type.chars.first %>
<% country_id = address_type == 'billing' ? 'bcountry' : 'scountry' %>

<div class="address-form-row clearfix capslock">
	<p class="field" id="bfirstname">
		<% firstname = spree_current_user ? spree_current_user.firstname : nil  %>
		<label>Nome</label><span class="req">*</span><br />
		<%= address_form.text_field(:firstname, :value => firstname, :class => 'required', :autocomplete => :off) %>
	</p>
	<p class="field" id="blastname">
		<% lastname = spree_current_user ? spree_current_user.lastname : nil  %>
		<label>Sobrenome</label><span class="req">*</span><br />
		<%= address_form.text_field(:lastname, :value => lastname, :class => 'required', :autocomplete => :off) %>
	</p>
</div>
<div class="address-form-row clearfix">
	<% if address.address_type == "billing" %>
		<%= address_field(address_form, "cpf".to_sym, address_name) %>
	<% else %>
		<%= address_form.hidden_field(:cpf, :value => "") %>
	<% end %>
</div>
<div class="address-form-row clearfix capslock">
	<%= address_field(address_form, "address1".to_sym, address_name) %>
	<%= address_field(address_form, "address_number".to_sym, address_name) %>
</div>
<div class="address-form-row clearfix capslock">
	<%= address_field(address_form, "address2".to_sym, address_name) %>
	<%= address_field(address_form, "address_district".to_sym, address_name) %>
</div>
<div class="address-form-row clearfix capslock">
	<%= address_field(address_form, "city".to_sym, address_name) %>

  <p class="field" id=<%="#{address_id}state" %>>
    <% have_states = !address.country.states.empty? %>
    <%= address_form.label :state, t(:state) %><span class='req' id=<%="#{address_id}state-required"%>>*</span><br/>

    <% state_elements = [
       address_form.collection_select(:state_id, address.country.states,
                          :id, :name,
                          {:include_blank => true},
                          {:class => have_states ? 'required' : 'hidden',
                          :disabled => !have_states}) +
       address_form.text_field(:state_name,
                          :class => !have_states ? 'required' : 'hidden',
                          :disabled => have_states)
       ].join.gsub('"', "'").gsub("\n", "")
    %>
    <%= javascript_tag do -%>
      $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
    <% end %>
  </p>
	<noscript>
  	<%= address_form.text_field :state_name, :class => 'required' %>
	</noscript>
</div>
<div class="address-form-row clearfix">
	<%= address_field(address_form, "zipcode".to_sym, address_name) %>
</div>
<div class="address-form-row clearfix" style="display:none;">
	<p class="field" id=<%="#{address_id}country" %> style="display:none;">
  	<%= address_form.label :country_id, t(:country) %><span class="required">*</span><br />
  	<span id=<%="#{address_id}country-selection" %>>
    <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
  	</span>
	</p>
</div>
<div class="address-form-row clearfix">
	<%= address_field(address_form, "phone_ddd".to_sym, address_name) %>
	<%= address_field(address_form, "phone".to_sym, address_name) %>
</div>
<%= address_form.hidden_field(:address_type, :value => address.address_type) %>