<% address_id = address_type.chars.first %>
<% country_id = address_type == 'billing' ? 'bcountry' : 'scountry' %>
<span id="fetch_address_url" data-url="<%= retrieve_address_from_zipcode_url %>">
<div class="address-form-row clearfix capslock">
	<div class="field">
		<% firstname = address_form.object.firstname %>
		<% input_class = "required" %>
		<% if firstname.nil? && spree_current_user && spree_current_user.firstname %>
			<% firstname = spree_current_user.firstname.upcase %>
			<% input_class += " pre_filled" %>
		<% end %>
		<label>Nome</label><span class="req">*</span><br />
		<%= address_form.text_field(:firstname, :value => firstname, :class => input_class, :autocomplete => :off) %>
	</div>
	<div class="field">
		<% lastname = address_form.object.lastname %>
		<% input_class = "required" %>
		<% if lastname.nil? && spree_current_user && spree_current_user.lastname %>
			<% lastname = spree_current_user.lastname.upcase %>
			<% input_class += " pre_filled" %>
		<% end %>
		<label>Sobrenome</label><span class="req">*</span><br />
		<%= address_form.text_field(:lastname, :value => lastname, :class => input_class, :autocomplete => :off) %>
	</div>
</div>

<div class="address-form-row clearfix">
	<% if address.address_type == "billing" %>
		<%= address_field(address_form, "cpf".to_sym, address_name, "cpf") %>
		<div class="field">
			<% birth_date = address_form.object.birth_date %>
			<% input_class = "required" %>
			<% if birth_date.nil? && spree_current_user && spree_current_user.birth_date %>
				<% birth_date = spree_current_user.birth_date %>
				<% input_class += " pre_filled" %>
			<% end %>
		</div>
		<div class="field">
			<label>Nasc. (dd/mm/aaaa)</label><span class="req">*</span><br />
			<%= address_form.text_field(:birth_date, :value => birth_date, :class => input_class, :autocomplete => :off) %>
		</div>
	<% else %>
		<%= address_form.hidden_field(:cpf, :value => "") %>
		<%= address_form.hidden_field(:birth_date, :value => "") %>
	<% end %>
</div>

<div class="address-form-row zipcode clearfix">
	<%= address_field(address_form, "zipcode".to_sym, address_name, "fetch_address full") %>
</div>

<div class="address-form-row clearfix capslock">
	<%= address_field(address_form, "address1".to_sym, address_name, "fetch_from_zipcode street long", 80) %>
	<%= address_field(address_form, "address_number".to_sym, address_name, "address_number short", 20) %>
</div>

<div class="address-form-row clearfix capslock">
	<%= address_field(address_form, "address2".to_sym, address_name, "", 40) %>
	<%= address_field(address_form, "address_district".to_sym, address_name, "fetch_from_zipcode district", 60) %>
</div>

<div class="address-form-row state clearfix capslock">
	<%= address_field(address_form, "city".to_sym, address_name, "fetch_from_zipcode city long", 60) %>

  <div class="field" id=<%="#{address_id}state" %>>
    <% have_states = !address.country.states.empty? %>
    <%= address_form.label :state, t(:state) %><span class='req' id=<%="#{address_id}state-required"%>>*</span><br/>

    <% state_elements = [
       address_form.collection_select(:state_id, address.country.states,
                          :id, :name,
                          {:include_blank => true},
                          {:class => have_states ? 'fetch_from_zipcode state required' : 'fetch_from_zipcode state hidden',
                          :disabled => !have_states}) +
       address_form.text_field(:state_name,
                          :class => !have_states ? 'required' : 'hidden',
                          :disabled => have_states)
       ].join.gsub('"', "'").gsub("\n", "")
    %>
    <script type="text/delayscript">
      $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
    </script>
	</div>
	<noscript>
  	<%= address_form.text_field :state_name, :class => 'required' %>
	</noscript>
</div>

<div class="address-form-row clearfix" style="display:none;">
	<p class="field" id=<%="#{address_id}country" %> style="display:none;">
  	<%= address_form.label :country_id, t(:country) %><span class="required">*</span><br />
  	<span id=<%="#{address_id}country-selection" %>>
    <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
  	</span>
	</p>
</div>

<div class="address-form-row clearfix">
	<%= address_field(address_form, "phone_ddd".to_sym, address_name, "short", 2) %>
	<%= address_field(address_form, "phone".to_sym, address_name, "long", 10) %>
</div>

<%= address_form.hidden_field(:address_type, :value => address.address_type) %>
<%= address_form.hidden_field(:ibge_city_code, class: "fetch_from_zipcode ibge_city_code") %>
<%= address_form.hidden_field(:ibge_state_code, class: "fetch_code_zipcode ibge_state") %>
<%= hidden_field_tag :lightbox, @lightbox %>