<% content_for :head do %>
  <%= javascript_include_tag states_url(:format => :js) %>
  <%= javascript_include_tag countries_url(:format => :js) %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @address } %>
<h1>Endereço de <%= @address.address_type == 'shipping' ? "entrega" : "cobrança" %></h1>
<%= form_for @address, :html => { :id => "checkout_form_address", :class => "edit_address", :autocomplete => :off } do |f| %>
<fieldset>
  <div class="inner">
    <%= render :partial => 'spree/addresses/form', :locals => {
      :address_name => 'address',
      :address_form => f,
      :address_type => 'shipping',
      :address => @address
    } %>
  </div>
	<%= f.submit t(:update) %>
</fieldset>
<% end %>
