<h2><%= type == 'shipping' ? t(:shipping_addresses, :scope => :address_book) : t(:billing_addresses, :scope => :address_book) %></h2>
<% addresses = spree_current_user.addresses.where(address_type: type) %>
<% if addresses.size > 0 %>
<table id="user_addresses">
  <tbody>
    <% addresses.each do |address| %>
    <tr class="<%= cycle('even', 'odd', :name => "background") %>">
      <td><%= address %></td>
      <td class="actions">
				<% title = address.valid? ? t(:edit).parameterize : "este endereço precisa ser atualizado" %>
				> <%= link_to(title, edit_address_path(address)) %><br />
        > <%= link_to t(:remove).parameterize, delete_address_path(address), :confirm => t(:are_you_sure) %>
      </td>
    </tr>
    <% end %>
		<% reset_cycle("background") %>
  </tbody>
</table>
<% else %>
<div id="users-address-list-empty">
  <%= t(:no_shipping_addresses_on_file, :scope => :address_book) %>
</div>
<% end %>
<div id="new_address_link">
  <%= link_to t(:add_new_shipping_address, :scope => :address_book), new_address_path(:t => type.first) %>
</div>
